version: '3.8'

services:
  {{ container_name }}:
    image: postgres:16-alpine
    container_name: {{ container_name }}
    restart: always
    environment:
      - POSTGRES_USER={{ db_user }}
      - POSTGRES_PASSWORD={{ db_password }}
      - POSTGRES_DB={{ db_name }}
    ports:
      - "{{ postgres_port }}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: