# Terraform
.terraform/
*.tfstate
*.tfstate.*.backup
# *.tfvars # muss noch raus aufgrund sensibler daten spaeter
*.tfplan
terraform.tfvars.example # Behalte Beispiel-tfvars, wenn du welche hast
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Azure specific
.azure/
